<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/*-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>roomname</param-name>
    <param-value>Pratian</param-value>
  </context-param>
  <listener>
    <listener-class>com.happytrip.listeners.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>genericfilter</filter-name>
    <filter-class>com.happytrip.filters.GenericFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>genericfilter</filter-name>
    <servlet-name>LoginServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.happytrip.servlets.ChatloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/chat/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatLogout</servlet-name>
    <servlet-class>com.happytrip.servlets.ChatlogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatLogout</servlet-name>
    <url-pattern>/chat/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageManServlet</display-name>
    <servlet-name>MessageManServlet</servlet-name>
    <servlet-class>com.happytrip.servlets.ChatmessengerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageManServlet</servlet-name>
    <url-pattern>/chat/MessageManServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.happytrip.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>sessionFactoryUtil</servlet-name>
    <servlet-class>com.happytrip.util.SessionFactoryUtil</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>startupController</servlet-name>
    <servlet-class>com.happytrip.controllers.StartupController</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FlightServlet</servlet-name>
    <servlet-class>com.happytrip.servlets.FlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightServlet</servlet-name>
    <url-pattern>/admin/addFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.happytrip.controllers.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin/addAirline</url-pattern>
    <url-pattern>/admin/addRoute</url-pattern>
    <url-pattern>/admin/scheduleFlight</url-pattern>
    <url-pattern>/admin/addFlight.html</url-pattern>
    <url-pattern>/admin/addAirline.html</url-pattern>
    <url-pattern>/admin/addRoute.html</url-pattern>
    <url-pattern>/admin/scheduleFlight.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>com.happytrip.controllers.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/admin/reports.html</url-pattern>
    <url-pattern>/admin/report/listAllBookings.html</url-pattern>
    <url-pattern>/admin/report/listAllUsers.html</url-pattern>
    <url-pattern>/admin/report/listAllAirline.html</url-pattern>
    <url-pattern>/admin/report/listAllScheduledFlight.html</url-pattern>
    <url-pattern>/admin/report/listAllRoutes.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.happytrip.controllers.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/searchFlights.html</url-pattern>
    <url-pattern>/flight/search.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightBookingController</servlet-name>
    <servlet-class>com.happytrip.controllers.flight.FlightBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightBookingController</servlet-name>
    <url-pattern>/flight/bookSelectedFlights.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightConfirmationController</servlet-name>
    <servlet-class>com.happytrip.controllers.flight.FlightConfirmationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightConfirmationController</servlet-name>
    <url-pattern>/flight/showBookingSummary.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightPaymentController</servlet-name>
    <servlet-class>com.happytrip.controllers.flight.FlightPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightPaymentController</servlet-name>
    <url-pattern>/flight/confirmBooking.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentProcessController</servlet-name>
    <servlet-class>com.happytrip.controllers.flight.PaymentProcessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentProcessController</servlet-name>
    <url-pattern>/paymentConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContentController</servlet-name>
    <servlet-class>com.happytrip.controllers.ContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentController</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.happytrip.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register.html</url-pattern>
    <url-pattern>/registerprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.happytrip.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login.html</url-pattern>
    <url-pattern>/loginAdmin.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassengerController</servlet-name>
    <servlet-class>com.happytrip.controllers.PassengerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerController</servlet-name>
    <url-pattern>/passengerFlights.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.happytrip.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/cities</url-pattern>
    <url-pattern>/home.html</url-pattern>
    <url-pattern>/getAllCities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>com.happytrip.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>com.happytrip.controllers.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/profile.html</url-pattern>
    <url-pattern>/mytrips.html</url-pattern>
    <url-pattern>/viewTrip</url-pattern>
    <url-pattern>/saveProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.happytrip.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAirlineConfirm</servlet-name>
    <servlet-class>com.happytrip.servlets.AddAirlineConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirlineConfirm</servlet-name>
    <url-pattern>/admin/addAirlineConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFlightConfirm</servlet-name>
    <servlet-class>com.happytrip.servlets.AddFlightConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightConfirm</servlet-name>
    <url-pattern>/admin/addFlightConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRouteConfirm</servlet-name>
    <servlet-class>com.happytrip.servlets.AddRouteConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRouteConfirm</servlet-name>
    <url-pattern>/admin/addRouteConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddScheduleConfirm</servlet-name>
    <servlet-class>com.happytrip.servlets.AddScheduleConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScheduleConfirm</servlet-name>
    <url-pattern>/admin/addScheduleConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterConfirm</servlet-name>
    <servlet-class>com.happytrip.servlets.RegisterConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterConfirm</servlet-name>
    <url-pattern>/registerConfirm</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlightValidator</display-name>
    <servlet-name>FlightValidator</servlet-name>
    <servlet-class>com.happytrip.servlets.FlightValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightValidator</servlet-name>
    <url-pattern>/admin/FlightValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleValidator</display-name>
    <servlet-name>ScheduleValidator</servlet-name>
    <servlet-class>com.happytrip.servlets.ScheduleValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleValidator</servlet-name>
    <url-pattern>/admin/ScheduleValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileValidator</display-name>
    <servlet-name>ProfileValidator</servlet-name>
    <servlet-class>com.happytrip.servlets.ProfileValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileValidator</servlet-name>
    <url-pattern>/ProfileValidator</url-pattern>
  </servlet-mapping>
</web-app>